 <% unless current_user?(@users_show) %>
  <div id="follow_form">
  <% if current_user.following?(@users_show) %>

    <%# <%= render 'unfollow' %> 
    <%= form_for(current_user.following_relationships.find_by(following_id: @users_show.id), html: { method: :delete }) do |f| %>
      <%= f.submit "いいね済", class: "btn btn-large follow-btn" %>
    <% end %>
  <% else %>

    <%# <%= render 'follow' %> 
    <%= form_for(current_user.following_relationships.build(following_id: @users_show.id)) do |f| %>
      <div>
        <%= f.hidden_field :following_id %>
      </div>
      <%= f.submit "いいね", class: "btn btn-large btn-primary follow-btn" %>
    <% end %>
  <% end %>
  </div>
<% end %>  