<%= render partial: "header" %>

<%# 写真部分 %>
<div class='users__show__imageBox'>
  <%= image_tag(@users_show.image.url, class:'users__show__imageBox__image') %>
  <div class='users__show__imageBox__nickname'>
    <%# <%= @users_show.nickname %> 
  </div>
  <div class='users__show__goodbtn'>
    <%# いいね %>
    <%# <%= render partial: "follow_form" %> %>
  </div>
</div>

<%# フォームボックス %>
<div class='users__show__userBox'>
  <table>
    <tr>
      <th>ニックネーム</th>
      <td><%= @users_show.nickname %></td>
    </tr>
    <tr>
      <th>年齢</th>
      <td><%= @users_show.birthday - 10%></td>
    <tr>
      <th>居住地</th>
      <td><%= @users_show.municipality%>
    </tr>
    <tr>
      <th>自己紹介</th>
      <td>自己紹介分(未実装)</td>
    </tr>
  </table>
</div>

<%= render partial: "footer" %>



<% if user_signed_in? %>
  <h1>ユーザー一覧画面</h1>
    <p>
      <%= "id: #{@users_show.id} email: #{@users_show.email}" %>
      <% if current_user.following?(@users_show) %>
        <%= link_to 'フォロー外す', unfollow_path(@users_show[:id]), method: :POST %>
      <% else %>
        <%= link_to 'フォローする', follow_path(@users_show[:id]), method: :POST %>
      <% end %>
    </p>
<% end %>
















<h2>ユーザー詳細ページ</h2>
<p><%= "id: #{@users_show.id}" %></p>
<p><%= "フォロー数: #{@users_show.follower.count}" %></p>
<p><%= "フォロワー数: #{@users_show.followed.count}" %></p>
<% unless @users_show == current_user %>
  <% if current_user.following?(@users_show) %>
    <%= link_to 'フォロー外す', unfollow_path(@users_show.id), method: :POST %>
  <% else %>
    <%= link_to 'フォローする', follow_path(@users_show.id), method: :POST %>
  <% end %>
<% end %>
<p></p>

<h3>フォロー一覧</h3>
  <% @users_show.following_user.where.not(id: current_user.id).each do |user| %>
    <p>
      <%= "id: #{user.id} email: #{user.email}" %>
      <% if current_user.following?(user) %>
        <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
      <% else %>
        <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
      <% end %>
      <%= link_to "show", user_path(user) %>
    </p>
  <% end %>
<h3>フォロワー一覧</h3>
  <% @users_show.follower_user.where.not(id: current_user.id).each do |user| %>
    <p>
      <%= "id: #{user.id} email: #{user.email}" %>
      <% if current_user.following?(user) %>
        <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
      <% else %>
        <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
      <% end %>
      <%= link_to "show", user_path(user) %>
    </p>
  <% end %>