<%= render partial: "header" %>

<%# 写真部分 %>
<div class='users__show__imageBox'>
  <%= image_tag(@users_show.image.url, class:'users__show__imageBox__image') %>
  <div class='users__show__imageBox__nickname'>
    <%# <%= @users_show.nickname %> 
  </div>
  <div class='users__show__goodbtn'>
    <%# いいね %>
    <%= render partial: "follow_form" %>
  </div>
</div>

<%# フォームボックス %>
<div class='users__show__userBox'>
  <table>
    <tr>
      <th>ニックネーム</th>
      <td><%= @users_show.nickname %></td>
    </tr>
    <tr>
      <th>年齢</th>
      <td><%= @users_show.birthday - 10%></td>
    <tr>
      <th>居住地</th>
      <td><%= @users_show.municipality%>
    </tr>
    <tr>
      <th>自己紹介</th>
      <td>自己紹介分(未実装)</td>
    </tr>
  </table>
</div>

<%= render partial: "footer" %>



<%# フォローしている、されているユーザーを表示 %>
<%= render partial: "stats" %>