<%= render partial: "header" %>

<div class='postIndex'>
  <div class='postIndex__userbox'>
    <div class='postIndex__userbox__img'>
      <%= link_to image_tag("/assets/test.jpg", class:'userImg'), root_path %>
    </div>
    <div class='postIndex__userbox__name'>
      ユーザーネーム
    </div>
  </div>

  <div class='postIndex__userbox'>
    <div class='postIndex__userbox__img'>
      <%= link_to image_tag("/assets/test.jpg", class:'userImg'), root_path %>
    </div>
    <div class='postIndex__userbox__name'>
      ユーザーネーム
    </div>
  </div>



  <div class='postIndex__userbox'>
    <div class='postIndex__userbox__img'>
      <%= link_to image_tag("/assets/test.jpg", class:'userImg'), root_path %>
    </div>
    <div class='postIndex__userbox__name'>
      ユーザーネーム
    </div>
  </div>



  <div class='postIndex__userbox'>
    <div class='postIndex__userbox__img'>
      <%= link_to image_tag("/assets/test.jpg", class:'userImg'), root_path %>
    </div>
    <div class='postIndex__userbox__name'>
      ユーザーネーム
    </div>
  </div>



  <div class='postIndex__userbox'>
    <div class='postIndex__userbox__img'>
      <%= link_to image_tag("/assets/test.jpg", class:'userImg'), root_path %>
    </div>
    <div class='postIndex__userbox__name'>
      ユーザーネーム
    </div>
  </div>



  <div class='postIndex__userbox'>
    <div class='postIndex__userbox__img'>
      <%= link_to image_tag("/assets/test.jpg", class:'userImg'), root_path %>
    </div>
    <div class='postIndex__userbox__name'>
      ユーザーネーム
    </div>
  </div>



  <div class='postIndex__userbox'>
    <div class='postIndex__userbox__img'>
      <%= link_to image_tag("/assets/test.jpg", class:'userImg'), root_path %>
    </div>
    <div class='postIndex__userbox__name'>
      ユーザーネーム
    </div>
  </div>



  <div class='postIndex__userbox'>
    <div class='postIndex__userbox__img'>
      <%= link_to image_tag("/assets/test.jpg", class:'userImg'), root_path %>
    </div>
    <div class='postIndex__userbox__name'>
      ユーザーネーム
    </div>
  </div>



  <div class='postIndex__userbox'>
    <div class='postIndex__userbox__img'>
      <%= link_to image_tag("/assets/test.jpg", class:'userImg'), root_path %>
    </div>
    <div class='postIndex__userbox__name'>
      ユーザーネーム
    </div>
  </div>
</div>


<%= render partial: "footer" %>